{# pass an array argument to get the messages of those types #}
{% for type, messages in app.flashes(['success', 'error', 'info', 'danger']) %}
  {% for message in messages %}
    <div role="alert" class="alert alert-{{ type }}">
      {{ message }}
    </div>
  {% endfor %}
{% endfor %}